/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');

/* ROOT */
:root {
  --color-gray: #B3B5B7;
  --color-yellow: #ffdd4a;
  --color-blue: #05014A;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --h1-font-size: clamp(36px, 4vw, 64px);
  --h2-font-size: clamp(24px, 3vw, 48px);
  --h3-font-size: clamp(20px, 2.5vw, 40px);
  --p-font-size: clamp(18px, 2vmin, 32px);
  --p-bigger-size: clamp(18px, 2.5vw, 36px);
}

/* RESETS */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: var(--p-font-size);
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(228,228,228,1) 83%);
  color: var(--color-black);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  font-size: var(--p-font-size);
}

#footer-text {
  font-size: 16px;
  max-width: 85%;
  margin-inline: auto;
  color: var(--color-black);
}

button {
  background: rgba( 255, 221, 74, 0.75 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  padding-block: 1rem;
  font-weight: 700;
  transition: background 0.3s linear;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  border: none;
  color: var(--color-black);
}

button:hover, button:active, button:focus {
  background: rgba(255, 227, 110, 0.9);
}

.underline {
  text-decoration: underline;
}

/* HEADER */

header {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  box-shadow:  1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
  position: fixed;
  background: rgba( 0,0,0,0.1 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  z-index: 100;
}

header h1 {
  color: var(--color-yellow);
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  font-family: 'Space Mono', monospace;
}

nav {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

nav li {
  list-style: none;
}

nav a {
  color: var(--color-yellow);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  font-family: 'Space Mono', monospace;
}

nav a:hover, nav a:focus, nav a:active {
  text-decoration: underline;
}

/* BODY */

main {
  min-height: 100vh;
}

section {
  width: 90%;
  margin-inline: auto;
  padding-top: 12rem;
}

footer {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

/* HOME */
#home-section article {
  padding: 3rem;
  margin-bottom: 6rem;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
}

#home-section p {
  text-align: center;
  font-size: var(--p-bigger-size);
}

#home-section h2 {
  text-align: center;
  text-decoration: underline;
}

#home-section svg {
  margin: 2rem auto;
}

#home-section a {
  color: var(--color-yellow);
  font-weight: 700;
  transition: color linear 0.3s;
}

#home-section a:hover, #home-section a:focus, #home-section a:active {
  color: var(--color-gray);
}

/* WEATHER */

 #weather-section h2 {
  text-align: center;
 }

 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  max-width: 500px;
  margin-inline: auto;
 }

 #weather-header {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  margin-bottom: 1rem;
 }

 .weather-header_left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
 }

 .weather-icon {
  width: 40px;
  aspect-ratio: 1;
  object-fit: contain;
 }

 .weather-icon.large {
  width: 80px;
 }

 .header-current-temp {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 700;
 }

 .weather-header_right {
  display: grid;
  width: 50%;
  justify-content: space-evenly;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
 }

 .info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
 }

 .label {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.75rem;
  color: var(--color-yellow);
 }

 .value-sub-info {
  font-weight: 300;
  font-size: 0.9rem;
 }

 .current-location {
  text-align: center;
  color: var(--color-yellow)
 }

 .blurred {
  filter: blur(3px);
  overflow: hidden;
 }

 .forecast-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
 }

 .day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  font-weight: 700;
  }

 .day-card_date {
  font-size: 0.85rem;
  color: var(--color-yellow);
  margin-top: 0.5rem;
 }

 /* ACTIVITIES */

 #activities-section {
  display: grid;
  place-items: center;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  padding: 3rem;
 }

 #activities-section h2 {
  text-align: center;
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 2rem;
 }

 #activities-section h3 {
  text-align: center;
 }

 .yellow {
  color: var(--color-yellow);
 }

 .activity {
  margin-top: 2rem;
  padding: 2rem;
 }

 [data-visible=true] {
  display: block;
 }

[data-visible=false] {
  display: none;
}

button.disabled {
  cursor: not-allowed;
  background: #aaaaaa;
}

 /* MEDIA QUERIES */

@media only screen and (min-width: 40em) {
  section {
    width: 85%;
  }
}

@media only screen and (min-width: 48em) {
  section {
    width: 70%;
  }
}

@media only screen and (min-width: 64em) {
  section {
    width: 65%;
  }
}

@media only screen and (min-width: 80em) {
  section {
    width: 50%;
  }
}





